<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <div>
                    <form action="/animals/<%= animal._id %>?_method=PUT" method="post">
                        <fieldset>
                            <legend>Edit a <%= animal.species %>
                            </legend>
                            <label>
                                NAME:<input type="text" name="name" value="<%= animal.species %>" placeholder="enter animal species" />
                            </label>
                            <label>
                                LOCATION:<input type="text" name="location" value="<%= animal.location %>" placeholder="enter animal location" />
                            </label>
                            <label>
                                LIFE EXPECTANCY:<input type="text" name="life expectancy" value="<%= animal.lifeExpenctancy %>" placeholder="enter animal life expectancy" />
                            </label>
                            <label>
                                EXTINCT:<input type="checkbox" name="extinct" <%=animal.extinct ? "checked" : "" %> />
                            </label>
                        </fieldset>
                        <input type="submit" value="Update <%= animal.species %>" />
                    </form>
                </div>
            </main>
    </body>

</html>