<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                 <div>   
                    <a href="/animals/new"><button>Create A New Animal</button></a>
                    <% for (animals of animals) { %>
                        <!-- create an article -->
                        <article>
                            <a href="/fruits/<%= fruit._id %>">
                                <h2>
                                    <%= animal.name %> - <%= animal.extinct ? "Extinct" : "Not Extinct" %>
                                </h2>
                            </a>
                        </article>

                        <% } %>
                </div>
            </main>
    </body>

</html>